<!--
Deze applicatie is geschreven door Eva Nijhuis, Sven Lukassen, Stef van Breemen en Danae Dekker

Dit HTML bestand bevat een basis voor alle HTML bestanden

Versie: 1.0
Datum: 05-06-2022
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}</title>
    </head>
    <!--De body is volledig gebasseerd op de andere html pagina's.-->
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>