<!--
Deze applicatie is geschreven door Eva Nijhuis, Sven Lukassen, Stef van Breemen en Danae Dekker

Dit HTML bestand bevat de zoekpagina van de website

Versie: 1.0
Datum: 05-06-2022
-->

<!--Base.html wordt als base gebruikt-->
{% extends "base.html" %}
<!--Titel uniek voor deze webpagina-->
{% block title %}Zoek{% endblock %}
<!--Content voor deze webpagina-->
{% block content %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <body>

        <!-- Navbar -->
        <nav>
        <div class="w3-top">
          <div class="w3-bar w3-grey w3-card w3-left-align w3-large">
            <a href="http://127.0.0.1:5000/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue">Home</a>
            <a href="http://127.0.0.1:5000/zoek" class="w3-bar-item w3-button w3-padding-large w3-blue">Zoeken</a>
            <a href="http://127.0.0.1:5000/visualisatie" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-blue">Visualisatie</a>
          </div>
        </div>
        </nav>

        <!-- Header -->
        <header class="w3-container w3-grey w3-center" style="padding:25px 16px">
        </header>

        <!-- Witregel toevoegen -->
        <br>

        <!-- Form aanmaken  -->
        <form method="POST">
            <div class="w3-row-padding w3-padding-63 w3-container"></div>

            <b>Parameters textmining</b>

            <!-- Witregels toevoegen -->
            <br><br>

            <label for="p_id">Voer patiënt id in</label>
            <input type="text" name="p_id">

            <!-- Witregels toevoegen -->
            <br><br>

            <input type="submit" value="Submit">
            <input type="reset" value="Reset">
        </form>


        <!-- Voegt een zwarte lijn toe -->
        <hr color="black">

        <!-- Witregels toevoegen -->
        <br><br>

        <!-- Voegt section met tabel toe -->
        <section>
                <table border="1">
                    <tr><th width="8%"><b>Metaboliet</b></th>
                        <th width="8%"><b>Z-score</b></th>
                        <th width="8%"><b>Ziekte</b></th>
                        <th width="8%"><b>PubMed ID</b></th></tr>

                     <tr>
                <!-- Door data heen lopen en in de tabel zetten -->
                    {% for data in invoer %}
                        <td> {{ data[6] }}  </td><td> {{ data[7] }} </td>
                        <td> {{ data[1] }} </td><td> {{ data[2] }} </td>
                </tr>
                    {% endfor %}
                </table>
        </section>

    </body>

{% endblock %}

